<!--I am the header of index page-->
<!--I am the navigation bar-->

<div class="nav-bar clearfix" >
    <div class="logo">
        <img ui-sref="home.overview" src="/images/logo.png" alt="logo">
    </div>
    <ul ng-if="!(user)">
        <li><a class="nav-link" ui-sref="login">LOG IN</a></li>
        <li><a class="important" ui-sref="signup">SIGN UP</a></li>
    </ul>
    <ul ng-if="user">
        <li>
            <md-tooltip md-direction="bottom">
                Click me to Log out
            </md-tooltip>
            <a class="nav-link" ng-click="logout()">{{user.nickname}}</a>
        </li>
    </ul>
</div>