<!--I am the header of index page-->
<!--I am the navigation bar-->

<div class="nav-bar clearfix">
    <div class="logo">LOGO</div>
    <ul>
        <li ><a class="nav-link" ui-sref="home">HOME</a></li>
        <li ui-sref="signup"><a class="important" href="#">SIGN UP</a></li>
    </ul>
</div>