/**
Reset browser default css
**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
global setting
*/
body {
  background-image: url("/images/newdb.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.clearfix:after,
.clearfix:before {
  content: '';
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}
/*
Header  Navigation
*/
.nav-bar {
  background-color: #25283d;
  line-height: 3em;
  padding: 0;
}
.nav-bar .logo {
  color: #fc7169;
  float: left;
  margin: 0 30px;
  font-size: 1.5em;
}
.nav-bar ul {
  float: right;
}
.nav-bar ul li {
  display: inline-block;
  text-align: center;
}
.nav-bar ul li a {
  display: inline-block;
  color: white;
  font-weight: bold;
  width: 130px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-bar ul li a.nav-link:hover {
  background: #009688;
  color: white;
}
.nav-bar ul li a.important {
  color: #fc7169;
}
.nav-bar ul li a.important:hover {
  background: #fc7169;
  color: white;
}
/*
Setting for angular material
*/
.md-input-message-animation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form {
  overflow: auto;
}
.md-block {
  margin: 30px 0;
}
.md-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1024px;
  padding-top: 200px;
}
.container .center-container {
  height: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .25em .25em .4em .4em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.container .center-container .btn {
  width: 150px;
}
.container .notify {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50px;
  height: 50px;
  background: rgba(221, 44, 0, 0.5);
  transform: scale(0);
  border-radius: 50%;
  color: white;
  opacity: 0;
  overflow: hidden;
  animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
}
.container .notify-msg {
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 18px;
  animation: fade-in 0.65s ease-in forwards;
}
@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes expand {
  50% {
    width: 50%;
    border-radius: 6px;
  }
  100% {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}
@keyframes fade-in {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
