/*---------------------------
    Variables
-----------------------------*/
/*
 login and signup form
 background
 border
*/
.center-container {
  margin-top: 200px;
  height: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: .25em .25em .4em .4em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.center-container .btn {
  width: 150px;
}
/*
 notification setting
*/
.notify {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 50px;
  height: 50px;
  background: rgba(221, 44, 0, 0.5);
  transform: scale(0);
  border-radius: 50%;
  color: white;
  opacity: 0;
  overflow: hidden;
  animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
}
.notify-msg {
  opacity: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 18px;
  animation: fade-in 0.65s ease-in forwards;
}
@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes expand {
  50% {
    width: 50%;
    border-radius: 6px;
  }
  100% {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}
@keyframes fade-in {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*
notification end
*/
/*
 home setting
*/
.main-container {
  position: fixed;
  top: 48px;
  bottom: 0;
  width: 100%;
  background-color: white;
  overflow: auto;
}
/*
  side bar
*/
.side-bar {
  position: fixed;
  top: 48px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #25283d;
  color: white;
  border-right: 1px solid rgba(225, 225, 225, 0.8);
}
.side-bar .setting-list {
  margin-bottom: 10px;
}
.side-bar .accordion {
  color: #4D4D4D;
  width: 250px;
  background: white;
}
.side-bar .accordion li {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  border-bottom: 0.5px solid rgba(225, 225, 225, 0.8);
  /** -----------------------------
        * Submenu
      -----------------------------*/
}
.side-bar .accordion li a,
.side-bar .accordion li i {
  color: #4D4D4D;
}
.side-bar .accordion li i {
  position: absolute;
  top: 13px;
  left: 12px;
  font-size: 18px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
.side-bar .accordion li i.drop-down {
  right: 12px;
  left: auto;
  font-weight: bold;
}
.side-bar .accordion li .link:hover a,
.side-bar .accordion li .link:hover i {
  color: #fc7169;
}
.side-bar .accordion li.open .link {
  border-right: 6px solid #fc7169;
}
.side-bar .accordion li.open i.drop-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: 7px;
}
.side-bar .accordion li .link,
.side-bar .accordion li .submenu > li {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  outline: none;
}
.side-bar .accordion li .link:active,
.side-bar .accordion li .submenu > li:active {
  outline: none;
}
.side-bar .accordion li .submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}
.side-bar .accordion li .submenu li {
  border-bottom: 1px solid #4b4a5e;
  padding-left: 62px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.side-bar .accordion li .submenu li i {
  top: 13px;
  left: 32px;
  color: white;
}
.side-bar .accordion li .submenu li a {
  display: block;
  text-decoration: none;
  color: white;
}
.side-bar .accordion li .submenu li:hover {
  background-color: #fc7169;
}
.side-bar .accordion li .submenu li.selected {
  border-right: 6px solid #fc7169;
}
li:last-child .link {
  border-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .side-bar {
    width: 250px;
  }
}
/*
  content
*/
.content {
  position: relative;
  height: 100%;
  margin-left: 250px;
  background-color: #eeeeee;
}
/*
popUp Window
 */
.popUpWindow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(37, 40, 61, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.popUpWindow.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.popUpWindow-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 5em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popUpWindow-container h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 2em 1em 1em 1em;
  color: #8f9cb5;
}
.popUpWindow-container h1 span {
  color: #fc7169;
}
.popUpWindow-container .cd-buttons {
  margin-top: 3em;
  text-align: center;
}
.popUpWindow-container .cd-buttons li {
  float: left;
  width: 50%;
  cursor: pointer;
}
.popUpWindow-container .cd-buttons li button.inpop {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 15px;
  display: block;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background: #b6bece;
  border-radius: 0 0 .25em 0;
  opacity: 1;
}
.popUpWindow-container .cd-buttons li button.inpop.agree {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.popUpWindow-container .cd-buttons li button.inpop:hover {
  opacity: .75;
}
.popUpWindow-container .cd-buttons li button.inpop:disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
  opacity: .65;
}
.popUpWindow-container .cd-buttons li button.inpop:focus {
  outline: none;
}
.popUpWindow-container .popUpWindow-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: #8f9cb5;
  cursor: pointer;
  -webkit-transition: color .3s linear;
  -moz-transition: color .3s linear;
  -ms-transition: color .3s linear;
  -o-transition: color .3s linear;
  transition: color .3s linear;
}
.popUpWindow-container .popUpWindow-close:hover {
  color: #fc7169;
}
.is-visible .popUpWindow-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .popUpWindow-container {
    margin: 300px auto;
  }
}
.card-container {
  margin-top: 1.5em;
  padding: 1em 3em;
}
.card-container .card {
  padding: 2em 1em;
  cursor: default;
}
.card-container .card .card-content {
  background-color: white;
  padding: 1.2em;
  border-radius: .25em .25em .4em .4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.card-container .card .card-content:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}
.card-container .card .card-btn {
  margin-top: 3em;
  text-align: center;
}
.card-container .card .card-btn li {
  margin-top: 5px;
  cursor: pointer;
}
.card-container .card .card-btn li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background: teal;
}
.card-container .card .card-btn li a.important {
  background: #fc7169;
}
.card-container .card .card-btn li a:hover {
  opacity: .75;
}
.card-container .card h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: #25283d;
}
.card-container .card h2 {
  margin-top: 1.5em;
}
.control-btn {
  width: 172px;
  padding-left: 40px;
  position: relative;
  color: teal;
}
.control-btn i {
  position: absolute;
  top: 6px;
  left: 10px;
}
