html {
  background: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.clearfix:after,
.clearfix:before {
  content: '';
  clear: both;
  display: table;
}
.nav-bar {
  background-color: #25283d;
  padding: 0;
  line-height: 3em;
}
.nav-bar * {
  display: inline-block;
  text-align: center;
}
.nav-bar .logo {
  float: left;
  margin: 0 10px;
  font-size: 1.5em;
}
.nav-bar ul {
  float: right;
}
.nav-bar ul li {
  margin-right: 10px;
}
.nav-bar ul li a {
  color: white;
  font-weight: bold;
  width: 130px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-bar ul li a.nav-link:hover {
  background: #fc7169;
  color: white;
}
.nav-bar ul li a.important {
  color: #fc7169;
}
.nav-bar ul li a.important:hover {
  text-decoration: none;
  background: #fc7169;
  color: white;
}
.md-input-message-animation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.md-block {
  margin: 30px 0;
}
.md-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
