/*---------------------------
    Variables
-----------------------------*/
/*
  important color
*/
/*
  Warning color
*/
.sk-folding-cube {
  width: 50px;
  height: 50px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  position: absolute;
  left: 45%;
  top: 30%;
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444359;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #444359;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
/**
Reset browser default css
**/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
global setting
*/
html,
body {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-image: url("/images/newdb.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.clearfix:after,
.clearfix:before {
  content: '';
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
a:hover,
a:focus,
a:link,
a:visited {
  text-decoration: none;
}
/**
scroll bar
**/
* {
  scrollbar-arrow-color: #c8c8c8;
  scrollbar-3dlight-color: #c8c8c8;
  scrollbar-highlight-color: #c8c8c8;
  scrollbar-shadow-color: #c8c8c8;
  scrollbar-darkshadow-color: #c8c8c8;
  scrollbar-face-color: #c8c8c8;
  scrollbar-track-color: #f0f0f0;
}
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  color: #009688;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background: #b4b4b4;
}
::-webkit-scrollbar-corner {
  background: #c8c8c8;
}
::-webkit-scrollbar-resizer {
  background: #c8c8c8;
}
/*
Header  Navigation
*/
.nav-bar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #25283d;
  height: 60px;
  line-height: 60px;
  padding: 0;
}
.nav-bar .logo {
  color: #fc7169;
  float: left;
  margin: 13.5px 30px;
}
.nav-bar .logo img {
  cursor: pointer;
}
.nav-bar > ul {
  float: right;
}
.nav-bar > ul > li {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none !important;
}
.nav-bar > ul > li:focus {
  outline: none !important;
}
.nav-bar > ul > li.notify-btn {
  position: relative;
}
.nav-bar > ul > li.notify-btn i {
  position: absolute;
  top: 18px;
  left: 18px;
  color: white;
}
.nav-bar > ul > li.notify-btn .notif-list {
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 100;
  background-color: #444359;
  color: white;
  height: auto;
  overflow: visible;
}
.nav-bar > ul > li.notify-btn .notif-list:before {
  position: absolute;
  right: 0;
  top: -10px;
  width: 0;
  height: 0;
  display: block;
  content: ' ';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #444359;
  overflow: visible;
  z-index: 100;
}
.nav-bar > ul > li.notify-btn .notif-list li.notif-item {
  display: block;
  width: 300px;
  min-height: 40px;
  height: auto;
  overflow-y: visible;
  line-height: 40px;
  border-bottom: 1px solid #4b4a5e;
}
.nav-bar > ul > li:hover {
  background-color: #009688;
  color: white;
}
.nav-bar > ul > li a {
  display: inline-block;
  color: white;
  font-weight: bold;
  width: 130px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-bar > ul > li a.logout {
  width: 50px;
  position: relative;
}
.nav-bar > ul > li a.logout i {
  position: absolute;
  left: 14px;
  top: -16px;
}
.nav-bar > ul > li a.notify-icon {
  width: 100px;
  padding-left: 40px;
}
.nav-bar > ul > li a.important {
  color: #fc7169;
}
.nav-bar > ul > li a.important:hover {
  background-color: #fc7169;
  color: white;
}
/*
  Loading animation
 */
.in-loading {
  z-index: 99999999;
}
.in-loading .loading-text {
  position: absolute;
  top: 38%;
  left: 43.5%;
  font-size: 1.3em;
  z-index: 99999;
  color: #4D4D4D;
}
/*
Setting for angular material
*/
.md-input-message-animation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
form {
  overflow: auto;
}
.md-block {
  margin: 30px 0;
}
.md-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.md-event-calendar-create-link {
  display: block !important;
}
