@import "variable.less";
@import "main.less";
@import "basic.less";
.main-container{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container {
  max-width: @main-width;
  padding-top: 200px;

  .center-container {
    height: auto;
    color: black;
    .white-bg();
    .primary-border();
    .btn {
      width: 150px;
    }
  }

  .notify {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 50px;
    height: 50px;
    background: @primary-warn;
    transform: scale(0);
    border-radius: 50%;
    color: white;
    opacity: 0;
    overflow: hidden;
    animation: scale-in .3s ease-out forwards,
    expand .35s .25s ease-out forwards;
  }

  .notify-msg {
    opacity: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    animation: fade-in .65s ease-in forwards;
  }

  @keyframes scale-in {
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes expand {
    50% {
      width: 50%;
      border-radius: 6px;
    }
    100% {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
      0px 1px 1px 0px rgba(0,0,0,.14),
      0px 3px 3px -1px rgba(0,0,0,.12);
    }
  }

  @keyframes fade-in {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}