@import "variable.less";
/**
Reset browser default css
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}




/*
global setting
*/

html,
body {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-image:  url("/images/newdb.jpeg");
  background-repeat:no-repeat;
  background-size: cover;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.clearfix:after,
.clearfix:before {
  content: '';
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}
a:hover,
a:focus,
a:link,
a:visited{
  text-decoration: none;
}


/**
scroll bar
**/

* {
  scrollbar-arrow-color: rgb(200,200,200);
  scrollbar-3dlight-color: rgb(200,200,200);
  scrollbar-highlight-color: rgb(200,200,200);
  scrollbar-shadow-color: rgb(200,200,200);
  scrollbar-darkshadow-color: rgb(200,200,200);
  scrollbar-face-color: rgb(200,200,200);
  scrollbar-track-color: rgb(240,240,240);
}

::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  color: #009688;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background: rgb(240,240,240);
}
::-webkit-scrollbar-thumb {
  background: rgb(200,200,200);
  border-radius: 2em;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(180,180,180);
}
::-webkit-scrollbar-corner {
  background: rgb(200,200,200);
}
::-webkit-scrollbar-resizer {
  background: rgb(200,200,200);
}
/*
Header  Navigation
*/

.nav-bar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: @primary-bg-color;
  height: 60px;
  line-height: 60px;
  padding: 0;

  .logo {
    color: @important;
    float: left;
    margin: 13.5px 30px;
    img {
      cursor: pointer;
    }
  }
  ul {
    float: right;
    li {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      &:hover {
        .convert-color(#009688, white);
      }
      a {
        display: inline-block;
        color: black;
        font-weight: bold;
        width: 130px;
        &.logout {
          width: 50px;
          position: relative;
          i{
            position: absolute;
            left: 14px;
            top: -16px;
          }
        }
        &.important {
          color: @important;
        }
        &.important:hover {
          .convert-color(@important, white);
        }
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }
    }
  }
}

/*
  Loading animation
 */
.in-loading {
  z-index: 99999999;
  .loading-text {
    position: absolute;
    top: 38%;
    left:43.5%;
    font-size: 1.3em;
    z-index: 99999;
    color: @primary-text-color;
  }
}


/*
Setting for angular material
*/

.md-input-message-animation {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
form {
  overflow: auto;
}
.md-block{
  margin: 30px 0;
}
.md-input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}




