//@primary-color: #00aa9a;
//@primary-color: #40c4ff;
/*---------------------------
    Variables
-----------------------------*/
@primary-color: teal;
@primary-warn: rgba(221,44,0,.5);
@primary-bg-color: rgb(37, 40, 61);
@secondary-bg-color: #444359;
@light-bg-color: #b6bece;
@primary-text-color : #4D4D4D;
@secondary-text-color : #8f9cb5;
@light-gray-border: rgba(225, 225, 225, 0.8);
@mid-size-screen-width: 768px;
@important: #fc7169;
.convert-color(@bg,@ft){
  background: @bg;
  color: @ft;
}
.primary-border() {
  border-radius: .25em .25em .4em .4em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.white-bg() {
  background-color: rgba(255, 255, 255,.5);
}

.card-float(){
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  &:hover {
    -webkit-transform: translateY(-5px) ;
    -moz-transform: translateY(-5px) ;
    -ms-transform: translateY(-5px) ;
    -o-transform: translateY(-5px) ;
    transform: translateY(-5px) ;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  }
}
