//@primary-color: #00aa9a;
//@primary-color: #40c4ff;




@primary-color: #3F51B5;
@primary-warn: rgba(221,44,0,.5);
@primary-bg-color: rgb(37, 40, 61);
@light-gray-border: rgba(225, 225, 225, 0.8);
@main-width: 1024px;
@important: #fc7169;
.convert-color(@bg,@ft){
  background: @bg;
  color: @ft;
}