<div class="calendarContainer" ng-controller="calendarController">
<h1>This is calendar</h1>
<div class="calendarMainPart">
<md-event-calendar
  auto-height="40"
  ng-model="selected"
  md-events="events"
  md-event-click="eventClicked($selectedEvent)"
  md-create-event-click="createClicked($date)"
  md-label="title"
  md-show-create-link
  md-create-disabled="dis"
  class="md-primary"
>
  <md-event-calendar-header>
    <div flex></div>
    <md-event-calendar-prev></md-event-calendar-prev>
    <md-event-calendar-title></md-event-calendar-title>
    <md-event-calendar-next></md-event-calendar-next>
    <div flex layout="row">
      <span flex></span>
      <md-event-calendar-today></md-event-calendar-today>
    </div>
  </md-event-calendar-header>
</md-event-calendar>
</div>


<div class="calendarCreate">
  <div id="create-event" class="popUpWindow" role="alert" ng-cloak>
    <div class="popUpWindow-container" ng-show="showCreateEventForm">
      <h1>Create Event</h1>
      <label>Chosen day is <span ng-bind="result"></span></label>
      <form name="eventCreateForm" class="md-title">
        <label>Event Title</label>
        <input required type="text" name="newEventTitle" ng-model="newEvent.title"/>
        <div ng-messages="eventCreateForm.newEventTitle.$error" role="alert"
            ng-show="eventCreateForm.newEventTitle.$dirty || eventCreateForm.newEventTitle.$touched">
          <div ng-message="required">
            name cannot be empty.
          </div>
        </div>

        <label>All Day Event</label>
        <input type="checkbox" name="ifAllDay" ng-init="allDayEvent=false" ng-model="allDayEvent" ng-click="resetTime()"/>

        <label>Event time</label>
        <label>hour</label>
        <input type="number" name="newEventStartHour" min="0" max="23" ng-init="eventTimeHour=0" ng-model="eventTimeHour" ng-disabled="allDayEvent"/>
        
        <div ng-messages="eventCreateForm.newEventStartHour.$error" role="alert"
            ng-show="eventCreateForm.newEventStartHour.$dirty || eventCreateForm.newEventStartHour.$touched">
          <div ng-message="min">
            hour cannot less than 0.
          </div>
          <div ng-message="max">
            hour cannot greater than 23.
          </div>
        </div>

        <label>min</label>
        <input type="number" name="newEventStartMin" min="0" max="59" ng-init="eventTimeMin=0" ng-model="eventTimeMin" ng-disabled="allDayEvent"/>
        <div ng-messages="eventCreateForm.newEventStartMin.$error" role="alert"
            ng-show="eventCreateForm.newEventStartMin.$dirty || eventCreateForm.newEventStartMin.$touched">
          <div ng-message="min">
            min cannot less than 0.
          </div>
          <div ng-message="max">
            min cannot greater than 59.
          </div>
        </div>

        
        <label>Duration(days)</label>
        <input type="number " name="eventDuration" ng-model="eventDuration">

        
      </form>
    </div>
  </div>
</div>

</div>

