<style>
    .timeError {
        color: red;
        font-size: 0.5em;
    }
    .calendarCreate {
        position: absolute;
        z-index: 5;
    }
    .eventDisplay {
        position: absolute;
        z-index: 5;
    }

	.displayContent { 
		margin: 25px;
		color: gray;
	 }

    #note p { 
        margin: 10px;
        margin-top: 20px;
        font-size: 0.5em;
    
    }

	.eventDetail th {
		padding: 10px;
		font-weight: bold;
	}

	.eventDetail td {
		padding: 10px;
		color: gray;
	}

	.displayContent label { font-weight: bold }
	.eventTime { color: gray }
    #popcontainer { margin-top: 100px }
    #startDateinput { width: 170px }
    #startHourInput { width: 50px }
    #startMinInput { width: 50px }
    #endDateinput { width: 170px }
    #endHourInput { width: 50px }
    #endMinInput { width: 50px }
</style>

<div class="page-container">
    
    <div class="calendarContainer">
        <div class="calendarMainPart">
            <md-event-calendar
                    auto-height="40"
                    ng-model="selected"
                    md-events="events"
                    md-event-click="eventClicked($selectedEvent)"
                    md-create-event-click="createClicked($date)"
                    md-label="title"
                    md-show-create-link
                    md-create-disabled="dis"
            >
                <md-event-calendar-header>
                    <div flex></div>
                    <md-event-calendar-prev></md-event-calendar-prev>
                    <md-event-calendar-title></md-event-calendar-title>
                    <md-event-calendar-next></md-event-calendar-next>
                    <div flex layout="row">
                        <span flex></span>
                        <md-event-calendar-today></md-event-calendar-today>
                    </div>
                </md-event-calendar-header>
            </md-event-calendar>
        </div>


        <div class="calendarCreate">
            <div id="create-event" class="popUpWindow" role="alert" ng-cloak>
                <div id=popcontainer class="popUpWindow-container" ng-show="showCreateEventForm">
                    <h1>Create Event</h1>
                    <a class="popUpWindow-close " ng-click="closeForm('create-event')"><i class="material-icons">clear</i></a>

                    <form name="eventCreateForm" class="md-title">

                        <div>
                            <md-input-container class="md-block">
                                <label>Event Title</label>
                                <input required type="text" name="newEventTitle" ng-model="newEventTitle"/>
                                <div ng-messages="eventCreateForm.newEventTitle.$error" role="alert"
                                     ng-show="eventCreateForm.newEventTitle.$dirty || eventCreateForm.newEventTitle.$touched">
                                    <div ng-message="required">
                                        name cannot be empty.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>


                        <div>
                            <label class="eventTime">Event Start time: </label>
                        </div>
                        <div>
                        	<md-input-container>
                            <label>date</label>
                            <input id="startDateinput" required type="date" name="eventStartDate" ng-model="eventStartDate"/>
                            </md-input-container>
                        	<md-input-container>
                            <label>hour</label>
                            <input id="startHourInput" required type="number" name="newEventStartHour" min="0" max="23" ng-init="eventStartTimeHour=0" ng-model="eventStartTimeHour" ng-disabled="allDayEvent"/>
                            <div ng-messages="eventCreateForm.newEventStartHour.$error" role="alert"
                                 ng-show="eventCreateForm.newEventStartHour.$dirty || eventCreateForm.newEventStartHour.$touched">
                                <div ng-message="min">
                                    hour cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    hour cannot greater than 23.
                                </div>
                            </div>
                            </md-input-container>

                            <md-input-container>
                            <label>min</label>
                            <input id="startMinInput" required type="number" name="newEventStartMin" min="0" max="59" ng-init="eventStartTimeMin=0" ng-model="eventStartTimeMin" ng-disabled="allDayEvent"/>
                            <div ng-messages="eventCreateForm.newEventStartMin.$error" role="alert"
                                 ng-show="eventCreateForm.newEventStartMin.$dirty || eventCreateForm.newEventStartMin.$touched">
                                <div ng-message="min">
                                    min cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    min cannot greater than 59.
                                </div>
                            </div>
                            </md-input-container>
                        </div>
                        
                        <div>
                            <label class="eventTime">Event End time: </label>
                        </div>
                        <div>
                        	<md-input-container>
                            <label>date</label>
                            <input id="endDateinput" required type="date" name="eventEndDate" ng-model="eventEndDate"/>
                            </md-input-container>
                        
                        	<md-input-container>
                            <label>hour</label>
                            <input id="endHourInput" required type="number" name="newEventEndHour" min="0" max="23" ng-init="eventEndTimeHour=0" ng-model="eventEndTimeHour" ng-disabled="allDayEvent"/>
                            <div ng-messages="eventCreateForm.newEventEndHour.$error" role="alert"
                                 ng-show="eventCreateForm.newEventEndHour.$dirty || eventCreateForm.newEventEndHour.$touched">
                                <div ng-message="min">
                                    hour cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    hour cannot greater than 23.
                                </div>
                            </div>
                            </md-input-container>

                            <md-input-container>
                            <label>min</label>
                            <input id="endMinInput" required type="number" name="newEventEndMin" min="0" max="59" ng-init="eventEndTimeMin=0" ng-model="eventEndTimeMin" ng-disabled="allDayEvent"/>
                            <div ng-messages="eventCreateForm.newEventEndMin.$error" role="alert"
                                 ng-show="eventCreateForm.newEventEndMin.$dirty || eventCreateForm.newEventEndMin.$touched">
                                <div ng-message="min">
                                    min cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    min cannot greater than 59.
                                </div>
                            </div>
                            </md-input-container>
                        </div>

                        <div class="timeError" ng-show="errorMessageShow()">
                            <p>End time cannot before start time.</p>
                        </div>
                        
                        
                        
                        <div>
                        	<md-input-container class="md-block">
                        	<label>Event description: </label>
                            <textarea required max-rows="10" name="eventDescription" ng-model="eventDescription"></textarea>
                            </md-input-container class="md-block">
                        </div>
                        
                      

                        <ul class="cd-buttons clearfix">
	                        <li type="submit" ng-click="createEvent()">
	                            <button ng-disabled="eventCreateForm.$invalid || errorMessageShow()" class="agree inpop">Create</button>
	                        </li>
	                        <li>
	                            <button class="inpop" ng-click="closeForm('create-event')">Cancel</button>
	                        </li>
	                    </ul>

	                
                    </form>
                </div>

            </div>

        </div>









        <div class="eventDisplay">
        	<div id="display-event" class="popUpWindow" role="alert" ng-cloak>
                <div id=popcontainer class="popUpWindow-container" >
                    <h1>Event Details</h1>

                    	<table  class="eventDetail">
                    		<tr>
                    			<th>Event Title:</th>
                    			<td>{{chosenEventTitle}}</td>
                    		</tr>
                    		<tr>
                    			<th colspan="2">Event Start Time:</th>
                    		</tr>
                    		<tr>
                    			<td colspan="2">{{chosenEventStart}}</td>
                    		</tr>
                    		<tr>
                    			<th colspan="2">Event End Time:</th>
                    		</tr>
                    		<tr>
                    			<td colspan="2">{{chosenEventEnd}}</td>
                    		</tr>
                    		<tr>
                    			<th colspan="2">Event Description:</th>
                    		</tr>
                    		<tr>
                    			<td colspan="2">{{chosenEventDescription}}</td>
                    		</tr>
                    	</table>

                        <div id="note">
                            <p>Note: Only creator can delete this event</p>
                        </div>

                        <ul class="cd-buttons clearfix">
	                        <li type="submit" ng-click="deleteEvent()">
	                            <button ng-disabled="isDisabled()" class="agree inpop">Delete</button>
	                        </li>
	                        <li>
	                            <button class="inpop" ng-click="closeForm('display-event')">Cancel</button>
	                        </li>
	                    </ul>

                    <a class="popUpWindow-close " ng-click="closeForm('display-event')"><i class="material-icons">clear</i></a>

                </div>

            </div>           
        </div>












    </div>

</div>
