<style>
	.displayContent { 
		text-align:center;
		margin: 10px;
	 }
    #popcontainer { margin-top: 100px }
    #dateinput { width: 170px }
</style>

<div class="page-container">
    
    <div class="calendarContainer">
        <div class="calendarMainPart">
            <md-event-calendar
                    auto-height="40"
                    ng-model="selected"
                    md-events="events"
                    md-event-click="eventClicked($selectedEvent)"
                    md-create-event-click="createClicked($date)"
                    md-label="title"
                    md-show-create-link
                    md-create-disabled="dis"
                    class="md-primary"
            >
                <md-event-calendar-header>
                    <div flex></div>
                    <md-event-calendar-prev></md-event-calendar-prev>
                    <md-event-calendar-title></md-event-calendar-title>
                    <md-event-calendar-next></md-event-calendar-next>
                    <div flex layout="row">
                        <span flex></span>
                        <md-event-calendar-today></md-event-calendar-today>
                    </div>
                </md-event-calendar-header>
            </md-event-calendar>
        </div>


        <div class="calendarCreate">
            <div id="create-event" class="popUpWindow" role="alert" ng-cloak>
                <div id=popcontainer class="popUpWindow-container" ng-show="showCreateEventForm">
                    <h1>Create Event</h1>
                    <label>Chosen day is <span ng-bind="result"></span></label>
                    <form name="eventCreateForm" class="md-title">

                        <div>
                            <md-input-container class="md-block">
                                <label>Event Title</label>
                                <input required type="text" name="newEventTitle" ng-model="newEventTitle"/>
                                <div ng-messages="eventCreateForm.newEventTitle.$error" role="alert"
                                     ng-show="eventCreateForm.newEventTitle.$dirty || eventCreateForm.newEventTitle.$touched">
                                    <div ng-message="required">
                                        name cannot be empty.
                                    </div>
                                </div>
                            </md-input-container>

                        </div>


                        <div>
                            <label>Event Start time: </label>
                        </div>
                        <div>
                            <label>date</label>
                            <input id="dateinput" required type="date" name="eventStartDate" ng-model="eventStartDate"/>
                        </div>
                        <div>
                            <label>hour</label>
                            <input type="number" name="newEventStartHour" min="0" max="23" ng-init="eventStartTimeHour=0" ng-model="eventStartTimeHour" ng-disabled="allDayEvent"/>

                            <label>min</label>
                            <input type="number" name="newEventStartMin" min="0" max="59" ng-init="eventStartTimeMin=0" ng-model="eventStartTimeMin" ng-disabled="allDayEvent"/>
                        </div>
                        <div>
                            <div ng-messages="eventCreateForm.newEventStartHour.$error" role="alert"
                                 ng-show="eventCreateForm.newEventStartHour.$dirty || eventCreateForm.newEventStartHour.$touched">
                                <div ng-message="min">
                                    hour cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    hour cannot greater than 23.
                                </div>
                            </div>

                            
                            <div ng-messages="eventCreateForm.newEventStartMin.$error" role="alert"
                                 ng-show="eventCreateForm.newEventStartMin.$dirty || eventCreateForm.newEventStartMin.$touched">
                                <div ng-message="min">
                                    min cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    min cannot greater than 59.
                                </div>
                            </div>
                        </div>

                        <div>
                            <label>Event End time: </label>
                        </div>
                        <div>
                            <label>date</label>
                            <input required type="date" name="eventEndDate" ng-model="eventEndDate"/>
                        </div>
                        <div>
                            <label>hour</label>
                            <input type="number" name="newEventEndHour" min="0" max="23" ng-init="eventEndTimeHour=0" ng-model="eventEndTimeHour" ng-disabled="allDayEvent"/>

                            <label>min</label>
                            <input type="number" name="newEventEndMin" min="0" max="59" ng-init="eventEndTimeMin=0" ng-model="eventEndTimeMin" ng-disabled="allDayEvent"/>
                        </div>
                        <div>
                            <div ng-messages="eventCreateForm.newEventEndHour.$error" role="alert"
                                 ng-show="eventCreateForm.newEventEndHour.$dirty || eventCreateForm.newEventEndHour.$touched">
                                <div ng-message="min">
                                    hour cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    hour cannot greater than 23.
                                </div>
                            </div>

                            
                            <div ng-messages="eventCreateForm.newEventEndMin.$error" role="alert"
                                 ng-show="eventCreateForm.newEventEndMin.$dirty || eventCreateForm.newEventEndMin.$touched">
                                <div ng-message="min">
                                    min cannot less than 0.
                                </div>
                                <div ng-message="max">
                                    min cannot greater than 59.
                                </div>
                            </div>
                        </div>
                        <md-input-container class="md-block">
                        <label>Event description: </label>
                        <div>
                            <textarea max-rows="10" name="eventDescription" ng-model="eventDescription"></textarea>
                        </div>
                        <md-input-container class="md-block">
                      

                        <ul class="cd-buttons clearfix">
	                        <li type="submit" ng-click="createEvent()">
	                            <button ng-disabled="eventCreateForm.$invalid" class="agree inpop">Create</button>
	                        </li>
	                        <li>
	                            <button class="inpop" ng-click="closeForm('create-event')">Cancel</button>
	                        </li>
	                    </ul>

	                <a class="popUpWindow-close " ng-click="closeForm('create-event')"><i class="material-icons">clear</i></a>
                    </form>
                </div>

            </div>

        </div>









        <div class="eventDisplay">
        	<div id="display-event" class="popUpWindow" role="alert" ng-cloak>
                <div id=popcontainer class="popUpWindow-container" >
                    <h1>Event Details</h1>

                        <div class="displayContent">

                                <label>Event Title: {{chosenEventTitle}}</label>
                                
                        </div>
                        <div class="displayContent">

                                <label>Event Start Time: {{chosenEventStart}}</label>
                                
                        </div>
                        <div class="displayContent">

                                <label>Event End Time: {{chosenEventEnd}}</label>
                                
                        </div>
                        <div class="displayContent">

                                <label>Event Description: {{chosenEventDescription}}</label>
                                
                        </div>

                        <ul class="cd-buttons clearfix">
	                        <li type="submit" ng-click="deleteEvent()">
	                            <button class="agree inpop">Delete</button>
	                        </li>
	                        <li>
	                            <button class="inpop" ng-click="closeForm('display-event')">Cancel</button>
	                        </li>
	                    </ul>

                    <a class="popUpWindow-close " ng-click="closeForm('display-event')"><i class="material-icons">clear</i></a>

                </div>

            </div>           
        </div>












    </div>

</div>
