<div class="main-container clearfix">
    <div class="side-bar" data-ng-init="openTeam()">
        <ul id="accordion" class="accordion">
            <li id="teams">
                <div class="link" ng-click="tagSlide('teams')">
                    <i class="material-icons main-menu">group</i>
                    Teams
                    <i class="material-icons drop-down">expand_more</i>
                </div>
                <ul class="submenu">
                    <li ng-repeat="teamItem in teams">
                        <a ui-sref="home.teams.detail({team_id:teamItem.id, team_name:teamItem.name})">{{teamItem.name}}</a>
                    </li>
                    <li id="manageTeams" ui-sref="home.teams.manage" ng-if="!hasNoTeam">
                        <i class="material-icons">build</i>
                        <a>Manage Teams</a>
                    </li>
                    <li id="createTeam"  ng-if="hasNoTeam" ng-click="createForm()">
                        <i class="material-icons">group_add</i>
                        <a>Create A Team</a>
                    </li>
                </ul>
            </li>
            <li id="chat">
                <div class="link" ui-sref="home.chat" ng-click="tagSlide('chat')">
                    <i class="material-icons main-menu">chat</i>
                    Chat Rooms
                    <i class="material-icons drop-down">expand_more</i>
                </div>
                <ul class="submenu">
                    <li>
                        <a>Room 1</a>
                    </li>
                    <li>
                        <a>Room 2</a>
                    </li>
                    <li>
                        <a>Room 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <div ui-sref="home.post" class="link">
                    Post
                    <i class="material-icons drop-down">expand_more</i>
                </div>
                <ul class="submenu">
                    <li>
                        <a>#1</a>
                    </li>
                    <li>
                        <a>#2</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="link">
                    Something
                    <i class="material-icons drop-down">expand_more</i>
                </div>
                <ul class="submenu">
                    <li>
                        <a>#1</a>
                    </li>
                    <li>
                        <a>#2</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content">
        <div ui-view="contains"></div>
    </div>
    <div class="popUpWindow" role="alert">
        <div class="popUpWindow-container">
            <p>Are you sure you want to delete this element?</p>
            <ul class="cd-buttons clearfix">
                <li><a class="agree">Yes</a></li>
                <li><a ng-click="closeForm()">No</a></li>
            </ul>
            <a class="popUpWindow-close " ng-click="closeForm()"><i class="material-icons">clear</i></a>
        </div>
    </div>
</div>
