<div class="container clearfix">
    <div class="ad">
        Teamwork
        <br>
        Has Never Been
        <br>
        Easier
    </div>

    <div class="center-container" ng-cloak>
        <div class="notify" ng-if="User.error">
            <div class="notify-msg">
                <i class="material-icons">info_outline</i>
                <span>&nbsp;&nbsp;{{User.msg}}</span>
            </div>
        </div>

        <form ng-submit="User.login()" name="loginForm" class="md-title">
            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="email" name="email" ng-model="User.data.email" ng-pattern="/^.+@.+\..+$/"
                />
                <div ng-messages="loginForm.email.$error" role="alert"
                     ng-show="loginForm.email.$dirty || loginForm.email.$touched">
                    <div ng-message="required">
                        Email cannot be empty.
                    </div>
                    <div ng-message="pattern">
                        Email invalid.
                    </div>
                    <div ng-message="User.login_failed">
                        failed
                    </div>

                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" required name="password" ng-model="User.data.password">
                <div ng-messages="loginForm.password.$error"
                     ng-show="loginForm.password.$dirty || loginForm.password.$touched">
                    <div ng-message="required">
                        Password cannot be empty.
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-phone="column" layout-align="center">
                <md-button class="md-raised md-primary btn"
                           ng-disabled="loginForm.$invalid"
                           type="submit">Log in
                </md-button>
            </div>
        </form>
    </div>
</div>
