<div class="page-container clearfix" ng-controller="settingController" data-ng-init="initeFun()">

    <div class="setting-container">
        <div class="current-avatar">
            <img ng-src="{{user.current_avatar}}"/>
            <a class="ava" ng-click="openTab=!openTab">
                Upload Avatar
            </a>
            <!--<div class="fileUpload ava">-->
            <!--<span>Upload Avatar</span>-->
            <!--<input type="file" id="fileInput" class="upload" />-->
            <!--</div>-->
        </div>

        <div class="account">

            <h1>
                Profile
            </h1>

            <div class="username">
               <span class="label">
                   NickName
               </span>
                {{user.nickname}}
            </div>

            <div class="email">
                <span class="label">
                    Email
                </span>
                {{user.email}}
            </div>

        </div>
        <div class="avatar-tab " ng-class="{'is-visible': openTab}">
            <h1>
                Change Avatar
            </h1>
            <div class="crop">
                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
                </div>

                <div>
                    <img class="result" ng-src="{{myCroppedImage}}"/>
                </div>

                <div class="select-file">
                    <label for="fileInput" class="custom-file-upload">
                        Select File
                    </label>
                    <input id="fileInput" type="file"/>
                </div>

                <div class="ava-btn">
                    <a class="ava upload" ng-click="upload(myCroppedImage)">
                        Upload
                    </a>
                </div>
                <div class="progress" ng-show="progress >= 0">
                    <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                </div>
                <div class="msg" >
                    <span ng-show="result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>

            </div>

        </div>
    </div>


</div>
