<div class="page-container clearfix" ng-controller="settingController" data-ng-init="initeFun()">

    <div class="setting-container">
        <div class="current-avatar">
            <img ng-src="{{current_avatar}}" />
            <a class="ava" ng-click="openTab=!openTab">
                Upload Avatar
            </a>
            <!--<div class="fileUpload ava">-->
                <!--<span>Upload Avatar</span>-->
                <!--<input type="file" id="fileInput" class="upload" />-->
            <!--</div>-->
        </div>

        <div class="account">

            <h1>
                Profile
            </h1>

            <div class="username">
               <span class="label">
                   NickName
               </span>
                {{user.nickname}}
            </div>

            <div class="email">
                <span class="label">
                    Email
                </span>
                {{user.email}}
            </div>

        </div>
        <div class="avatar-tab is-visible" >
             <!--ng-class="{'is-visible': openTab}">-->
                <h1>
                    Change Avatar
                </h1>

                <div class="cropArea">
                    <img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
                </div>

                <div>New Avatar</div>
                <div><img class="result" ng-src="{{myCroppedImage}}" /></div>
                 <div class="ava tab-ava">
                    <span>Select File</span>
                    <input type="file" id="fileInput" class="upload" />
                </div>
                <button ng-click="upload(myCroppedImage, picFile.name)">Upload</button>

                <span class="progress" ng-show="progress >= 0">
                <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
             </span>
                <span ng-show="result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </div>
    </div>



</div>
